.animation, .header-conteiner .nav-conteiner .nav-list .nav-item .nav-item-active, .header-conteiner .nav-conteiner .nav-list .nav-item a:hover, .footer .footer-list .footer-animation a:hover {
  background-color: #494747;
  transition: all 0.4s linear;
  border-radius: 2px; }

.button, #newsletter .news-conteiner .news-form .news-btn .news-submit-btn, .main-index .call-to-action .linkedin-btn {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px 26px;
  min-width: 160px;
  border-radius: 2px;
  transition-duration: 1s; }

* {
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0px;
  font-size: 16px; }

.main {
  padding: 2rem 11%; }

h3 {
  font-size: 2rem;
  color: #252121; }

h4 {
  font-size: 2rem; }

p {
  color: white; }

.main-contact,
.main-values,
.main-portfolio,
.main-about-me {
  background: linear-gradient(to bottom, #8a9299, #2c3e50); }

.conteiner {
  padding: 1.5rem 0; }

.title-conteiner {
  padding: 0; }
  .title-conteiner .title-text {
    color: white;
    text-align: center;
    font-weight: 900;
    font-size: 4rem;
    line-height: 80px;
    margin: 0 0 50px 0; }
  .title-conteiner .title-description {
    text-align: center;
    margin: 0px; }

#newsletter {
  background: #494747;
  display: flex;
  justify-content: center; }
  #newsletter .news-conteiner {
    width: 80%;
    max-width: 600px;
    text-align: center; }
    #newsletter .news-conteiner .news-title {
      color: rgba(255, 255, 255, 0.767);
      font-weight: 300;
      font-size: 2rem;
      margin-bottom: 40px; }
    #newsletter .news-conteiner .news-form .news-inputs {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      #newsletter .news-conteiner .news-form .news-inputs .news-input {
        height: 50px;
        line-height: 50px;
        width: 69%;
        margin-bottom: 20px;
        padding: 0 20px; }
      #newsletter .news-conteiner .news-form .news-inputs .news-label {
        color: rgba(255, 255, 255, 0.767);
        font-size: 1.5rem;
        width: 119px;
        line-height: 50px; }
    #newsletter .news-conteiner .news-form .news-btn .news-submit {
      color: white;
      background: #0f0d0e;
      border: 1px solid #0f0d0e;
      font-weight: 300;
      padding: 0 50px;
      transition: .3s ease all; }
    #newsletter .news-conteiner .news-form .news-btn .news-submit:hover {
      color: white;
      border: 2px solid whitesmoke;
      transform: scale(1.1); }

.animation, .header-conteiner .nav-conteiner .nav-list .nav-item .nav-item-active, .header-conteiner .nav-conteiner .nav-list .nav-item a:hover, .footer .footer-list .footer-animation a:hover {
  background-color: #494747;
  transition: all 0.4s linear;
  border-radius: 2px; }

.button, #newsletter .news-conteiner .news-form .news-btn .news-submit-btn, .main-index .call-to-action .linkedin-btn {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px 26px;
  min-width: 160px;
  border-radius: 2px;
  transition-duration: 1s; }

.header-conteiner {
  display: flex;
  background-color: #0f0d0e;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000; }
  .header-conteiner a {
    color: white;
    text-decoration: none; }
  .header-conteiner .logo-img {
    max-width: 100px;
    max-height: 100px; }
  .header-conteiner .nav-conteiner {
    padding-right: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05); }
    .header-conteiner .nav-conteiner .nav-list {
      margin: 0;
      padding: 0;
      list-style: none; }
      .header-conteiner .nav-conteiner .nav-list .nav-item {
        display: inline-block; }
        .header-conteiner .nav-conteiner .nav-list .nav-item a {
          display: block;
          padding: 0.5rem 1rem; }
  .header-conteiner .toggle-button {
    position: absolute;
    top: 2rem;
    right: 1.25rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 32px; }
    .header-conteiner .toggle-button .bar {
      height: 4px;
      width: 100%;
      background-color: white;
      border-radius: 10px; }

.ham-menu {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  display: none; }

.footer {
  background-color: #0f0d0e;
  margin: 0;
  text-align: center;
  color: white;
  padding: 0; }
  .footer .logo {
    max-width: 100px;
    max-height: 100px; }
  .footer .footer-list {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
    justify-content: center; }
    .footer .footer-list .footer-list-item {
      padding: 10px 15px;
      display: flex; }
      .footer .footer-list .footer-list-item a {
        text-decoration: none;
        color: white; }
      .footer .footer-list .footer-list-item .img-fluid {
        width: 25px; }
    .footer .footer-list .footer-animation a:hover {
      padding: 0 2px; }

.animation, .header-conteiner .nav-conteiner .nav-list .nav-item .nav-item-active, .header-conteiner .nav-conteiner .nav-list .nav-item a:hover, .footer .footer-list .footer-animation a:hover {
  background-color: #494747;
  transition: all 0.4s linear;
  border-radius: 2px; }

.button, #newsletter .news-conteiner .news-form .news-btn .news-submit-btn, .main-index .call-to-action .linkedin-btn {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px 26px;
  min-width: 160px;
  border-radius: 2px;
  transition-duration: 1s; }

/*//////
    Home
//////*/
.main-index {
  background-image: url(../media/MainBackground.jpg);
  background-size: cover; }
  .main-index .call-to-action {
    margin-top: 75px;
    padding-bottom: 50px;
    text-align: center; }
    .main-index .call-to-action .linkedin-btn {
      display: inline-block; }
    .main-index .call-to-action .primary-btn {
      background-color: whitesmoke;
      color: black;
      border: 2px solid whitesmoke; }
      .main-index .call-to-action .primary-btn .arrow-img {
        vertical-align: middle; }
    .main-index .call-to-action .primary-btn:hover {
      background-color: whitesmoke;
      color: black;
      border: 2px solid whitesmoke;
      transform: scale(1.1); }
    .main-index .call-to-action .primary-btn:focus {
      background-color: whitesmoke;
      outline: none;
      border: 2px solid whitesmoke;
      box-shadow: none; }

/*//////////
    Contacto
//////////*/
.main-contact p {
  font-size: 1.5rem; }

.contact-text h2 {
  font-size: 2rem;
  color: #252121; }

.contact-text p {
  text-align: start; }

.form-group {
  margin-bottom: 0.8rem; }
  .form-group .form-label {
    font-size: 1.1rem;
    color: white; }

.btn-contact {
  width: 100%; }

/*//////////
  Curriculum
//////////*/
.perfil-conteiner .perfil-description .perfil-text {
  font-size: 1.5rem;
  text-align: center; }

.perfil-conteiner .curriculum-conteiner .curriculum-vitae {
  width: 100%;
  height: 100vh; }

.perfil-conteiner .curriculum-conteiner .curriculum-link {
  display: none; }

/*////////////
    Portafolio
////////////*/
.carousel-inner .carousel-item img {
  width: 100%;
  height: 670px; }

.carousel-inner .carousel-item .carousel-text,
.carousel-inner .carousel-item .carousel-title {
  color: #0f0d0e; }

.carousel-inner .carousel-item .carousel-title {
  font-size: 2rem; }

/*/////////
    Valores
/////////*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
  .row .pricing-container {
    margin: 15px 0; }
    .row .pricing-container .package {
      min-width: unset;
      padding: 40px 20px; }
    .row .pricing-container .starter-pack {
      background-color: rgba(255, 255, 255, 0.767);
      border: 2px solid #252121; }
    .row .pricing-container .business-pack {
      background-color: #252121;
      border: 2px solid #252121;
      color: rgba(255, 255, 255, 0.767); }
      .row .pricing-container .business-pack h3 {
        color: rgba(255, 255, 255, 0.767); }
    .row .pricing-container .package .btn,
    .row .pricing-container .starter-pack .btn,
    .row .pricing-container .business-pack .btn {
      font-size: 14px;
      padding: 15px 26px;
      min-width: 160px;
      border-radius: 2px;
      display: inline-block; }
    .row .pricing-container .package .first-btn,
    .row .pricing-container .starter-pack .first-btn,
    .row .pricing-container .business-pack .first-btn {
      background-color: #252121;
      color: white;
      border: 2px solid #000000; }
    .row .pricing-container .package .second-btn,
    .row .pricing-container .starter-pack .second-btn,
    .row .pricing-container .business-pack .second-btn {
      background-color: transparent;
      color: white;
      border: 2px solid whitesmoke; }
    .row .pricing-container .package .full-width,
    .row .pricing-container .starter-pack .full-width,
    .row .pricing-container .business-pack .full-width {
      width: 100%; }

/*////////////// 
   Media queries
//////////////*/
@media only screen and (max-width: 480px) {
  .title-conteiner .title-text {
    font-size: 2.4rem;
    line-height: normal; }
  h2 {
    font-size: 2.0rem; }
  .header-conteiner {
    flex-direction: column;
    align-items: flex-start; }
    .header-conteiner .nav-conteiner {
      width: 100%;
      display: none;
      flex-direction: column; }
      .header-conteiner .nav-conteiner .nav-list {
        display: flex;
        flex-direction: column; }
        .header-conteiner .nav-conteiner .nav-list .nav-item {
          width: 100%;
          text-align: center; }
          .header-conteiner .nav-conteiner .nav-list .nav-item a {
            padding: .5rem 1rem; }
    .header-conteiner .nav-conteiner.active {
      display: flex; }
    .header-conteiner .toggle-button {
      display: flex; }
  .call-to-action {
    margin-top: 0;
    padding-bottom: 0; }
  #newsletter .news-conteiner .news-form .news-inputs {
    flex-direction: column;
    align-content: center; }
  .carousel-inner .carousel-item img {
    width: 100%;
    height: auto; }
  .perfil-conteiner .perfil-description {
    width: auto;
    height: auto; }
    .perfil-conteiner .perfil-description .perfil-text {
      font-size: 1.2rem; }
  .perfil-conteiner .curriculum-conteiner .curriculum-vitae {
    display: none; }
  .perfil-conteiner .curriculum-conteiner .curriculum-link {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center; }
  .perfil-conteiner .curriculum-conteiner .curriculum-link:hover {
    color: #494747; }
  .footer-nav {
    display: flex;
    padding: 20px 0;
    font-size: 20px;
    flex-direction: column;
    align-items: center; }
  .footer-media {
    display: flex; }
  .footerList li {
    display: block; } }

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .title-conteiner .title-text {
    font-size: 3rem;
    line-height: normal; }
  h2 {
    font-size: 2.5rem; }
  p {
    font-size: 1.5rem; }
  .header-conteiner {
    flex-direction: column;
    align-items: flex-start; }
    .header-conteiner .nav-conteiner {
      width: 100%;
      display: none;
      flex-direction: column; }
      .header-conteiner .nav-conteiner .nav-list {
        display: flex;
        flex-direction: column; }
        .header-conteiner .nav-conteiner .nav-list .nav-item {
          width: 100%;
          text-align: center; }
          .header-conteiner .nav-conteiner .nav-list .nav-item a {
            padding: .5rem 1rem; }
    .header-conteiner .nav-conteiner.active {
      display: flex; }
    .header-conteiner .toggle-button {
      display: flex; }
  .call-to-action {
    margin-top: 0;
    padding-bottom: 0; }
  .carousel-inner .carousel-item img {
    width: 100%;
    height: auto; }
  .perfil-conteiner .perfil-description .perfil-text {
    font-size: 1.5rem; }
  .perfil-conteiner .curriculum-conteiner .curriculum-vitae {
    height: 62vh; } }

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
    line-height: normal; }
  h2 {
    font-size: 3rem; }
  p {
    font-size: 1.5rem; } }

@media only screen and (min-width: 992px) {
  h2 {
    font-size: 3.5rem; }
  p {
    font-size: 1.7rem; }
  .main-index,
  .main-about-me,
  .main-contact {
    min-height: 681px; } }

@media only screen and (min-width: 1200px) {
  p {
    font-size: 1.8rem; }
  .perfil-conteiner .curriculum-conteiner .curriculum-vitae {
    height: 1500px; } }
