//Header-Footer backgraund color
$black-color: #0f0d0e;
$grey-color: rgb(141, 140, 140);
$obscure-color: rgb(37, 33, 33);
$var-white: rgba(255, 255, 255, 0.767);
//Tittle an text color
$text-color: rgb(255, 255, 255);
//News input color
$news-input: #aaaaaa;
//Boton and var
$btn-white: whitesmoke;
$btn-black: rgb(14, 13, 13);
$btn-effect: white;
$black-price: #000000;
//Clases para Extend 
.animation {
    background-color: $grey-color;
    transition: all 0.4s linear;
    border-radius: 2px;
}

.button {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px 26px;
    min-width: 160px;
    border-radius: 2px;
    transition-duration: 1s;
}

//Mixin
@mixin package($bacolor, $color) {
    background-color: $bacolor;
    border: 2px solid $color;
}

@mixin bnt-default($bacolor, $tcolor, $bcolor) {
    background-color: $bacolor;
    color: $tcolor;
    border: 2px solid $bcolor;
}