footer {
    background-color: #0f0d0e;
    margin: 0;
    text-align: center;
    color: white;
    padding: 0;
    .logo {
        max-width: 100px;
        max-height: 100px;
    }
    .footer-list {
        display: flex;
        margin: 0;
        list-style: none;
        padding: 0;
        justify-content: center;
        li {
            display: flex;
            a {
                text-decoration: none;
                color: white;
            }
        }
        .footer-list-item {
            padding: 10px 15px;
        }
    }
    .footer-animation a:hover {
        @extend .animation;
        padding: 0 2px;
    }
}