@import "colores";
.header-conteiner {
    display: flex;
    background-color: #0f0d0e;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    a {
        color: white;
        text-decoration: none;
    }
    .logo-img {
        max-width: 100px;
        max-height: 100px;
    }
    .nav-conteiner {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
        .nav-list {
            margin: 0;
            padding: 0;
            list-style: none;
            .nav-item {
                display: inline-block;
                a {
                    display: block;
                    padding: 0.5rem 1rem;
                }
                a:hover {
                    @extend .animation;
                }
            }
        }
    }
}

.ham-menu {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    display: none;
}