@import "general";
@import "header";
@import "footer";
@import "colores";

/*//////
    Home
//////*/

.main-index {
    background-image: url(../Media/MainBackground.jpg);
    background-size: cover;
    .call-to-action {
        margin-top: 75px;
        padding-bottom: 50px;
        text-align: center;
        .boton {
            @extend .button;
            display: inline-block;
        }
        .boton-primario {
            background-color: $btn-white;
            color: black;
            border: 2px solid $btn-white;
            .flecha-imagen {
                vertical-align: middle;
            }
        }
        .boton-primario:hover {
            background-color: $btn-white;
            color: black;
            border: 2px solid $btn-white;
            transform: scale(1.1);
        }
        .boton-primario:focus {
            background-color: whitesmoke;
            outline: none;
            border: 2px solid whitesmoke;
            box-shadow: none;
        }
    }
}


/*//////////
    Contacto
//////////*/

.main-contacto {
    p {
        font-size: 1.5rem;
    }
}

.contact-text {
    p {
        text-align: start;
    }
}

.grupo-formulario {
    margin-bottom: 0.8rem;
}

.boton-contacto {
    width: 100%;
}


/*//////////
  Curriculum
//////////*/

.perfil-conteiner {
    .perfil-description {
        justify-self: start;
        .perfil-text {
            font-size: 1.5rem;
            text-align: center;
        }
    }
    .curriculum-conteiner {
        .curriculum-vitae {
            width: 100%;
            height: 100vh;
        }
        .curriculum-link {
            display: none;
        }
    }
}


/*////////////
    Portafolio
////////////*/

.carousel-inner {
    .carousel-item {
        img {
            width: 100%;
            height: 670px;
        }
        .carousel-text,
        .carousel-tittle {
            color: $black-color;
        }
    }
}


/*/////////
    Valores
/////////*/

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    .pricing-container {
        margin: 15px 0;
        .paquetes {
            min-width: unset;
            padding: 40px 20px;
        }
        .paquete-inicial {
            @include paquete ($var-white, $obscure-color)
        }
        .paquete-empresarial {
            @include paquete ($obscure-color, $obscure-color);
            color: $var-white;
        }
        .paquetes,
        .paquete-inicial,
        .paquete-empresarial {
            .btn {
                font-size: 14px;
                padding: 15px 26px;
                min-width: 160px;
                border-radius: 2px;
                display: inline-block;
            }
            .btn-primary {
                @include bnt-default ($obscure-color, $text-color, $black-price);
            }
            .btn-alternate {
                @include bnt-default (transparent, $text-color, $btn-white);
            }
            .full-width {
                width: 100%;
            }
        }
    }
}


/*////////////// 
   Media queries
//////////////*/

@media only screen and (max-width: 480px) {
    ///////Titulos en general
    .tittle-conteiner {
        .tittle-text {
            font-size: 2.4rem;
            line-height: normal;
        }
    }
    h2 {
        font-size: 2.0rem;
    }
    ///////Hamburguer Menu
    .nav-conteiner {
        display: none;
    }
    .ham-menu {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
        display: flex;
        width: 100px;
        .ham-img {
            max-width: 50px;
            max-height: 50px;
            color: rgb(255, 255, 255);
        }
        .ham-list {
            list-style: none;
            .ham-item {
                display: inline-block;
                a {
                    display: block;
                    background-color: #0f0d0e;
                    padding: 2px;
                }
                a:hover {
                    background-color: rgb(141, 140, 140);
                    transition: all 0.4s linear;
                    border-radius: 2px;
                }
                .ham-links {
                    position: absolute;
                    display: none;
                }
            }
            .ham-item:hover {
                .ham-links {
                    display: block;
                }
            }
        }
    }
    .ham-list,
    .ham-links {
        margin: 0;
        padding: 0;
        padding-right: 150px;
    }
    .ham-menu {
        .ham-list {
            .ham-links {
                .ham-link {
                    display: block;
                }
            }
        }
    }
    ///////Call to Action Index
    .call-to-action {
        margin-top: 0;
        padding-bottom: 0;
    }
    ///////Portafolio Slider
    .carousel-inner {
        .carousel-item {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    ///////Perfil de Curriculum
    .perfil-conteiner {
        .perfil-description {
            width: auto;
            height: auto;
            .perfil-text {
                font-size: 1.2rem;
            }
        }
        .curriculum-conteiner {
            .curriculum-vitae {
                display: none;
            }
            .curriculum-link {
                font-size: 1.2rem;
                font-weight: bold;
                color: $text-color;
                display: flex;
            }
            .curriculum-link:hover {
                color: $grey-color;
            }
        }
    }
    ///////Footer
    .footer-nav {
        display: flex;
        padding: 20px 0;
        font-size: 20px;
        flex-direction: column;
        align-items: center;
    }
    .footer-media {
        display: flex;
    }
    .footerList {
        li {
            display: block;
        }
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    ///////Titulos en general
    .tittle-conteiner {
        .tittle-text {
            font-size: 3rem;
            line-height: normal;
        }
    }
    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1.5rem;
    }
    ///////Hamburguer Menu
    .nav-conteiner {
        display: none;
    }
    .ham-menu {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
        display: flex;
        width: 100px;
        .ham-img {
            max-width: 80px;
            max-height: 50px;
            color: rgb(255, 255, 255);
        }
        .ham-list {
            list-style: none;
            .ham-item {
                display: inline-block;
                a {
                    display: block;
                    background-color: #0f0d0e;
                    padding: 2px;
                }
                a:hover {
                    background-color: rgb(141, 140, 140);
                    transition: all 0.4s linear;
                    border-radius: 2px;
                }
                .ham-links {
                    position: absolute;
                    display: none;
                }
            }
            .ham-item:hover {
                .ham-links {
                    display: block;
                }
            }
        }
    }
    .ham-list,
    .ham-links {
        margin: 0;
        padding: 0;
        padding-right: 150px;
    }
    .ham-menu {
        .ham-list {
            .ham-links {
                .ham-link {
                    display: block;
                }
            }
        }
    }
    ///////Call to Action Index
    .call-to-action {
        margin-top: 0;
        padding-bottom: 0;
    }
    ///////Portafolio Slider
    .carousel-inner {
        .carousel-item {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    ///////Perfil de Curriculum
    .perfil-conteiner {
        .perfil-description {
            .perfil-text {
                font-size: 1.5rem;
            }
        }
        .curriculum-conteiner {
            .curriculum-vitae {
                height: 62vh;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 3.5rem;
        line-height: normal;
    }
    h2 {
        font-size: 3rem;
    }
    p {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 992px) {
    h2 {
        font-size: 3.5rem;
    }
    p {
        font-size: 1.7rem;
    }
    .main-index,
    .main-sobre-mi,
    .main-contacto {
        display: grid;
        align-content: center;
        min-height: 681px;
    }
}

@media only screen and (min-width: 1200px) {
    p {
        font-size: 1.8rem;
    }
    ///////Perfil de curriculum
    .perfil-conteiner {
        .curriculum-conteiner {
            .curriculum-vitae {
                height: 1500px;
            }
        }
    }
}